html, body{
    height: 100%;
    padding: 0;
    margin: 0;


}


/** GENÉRICOS REUTILIZABLES **/

a{
    text-decoration: none;
    color: black;
    
}

.contenedor{
    width: 100%;
    height: 1000em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
  
   
}

button{    
        border-style: none;   
        
        
}

/** SECCIÓN BODY **/

body{
   
    font-size: 1px;  

}

/** SECCIÓN NAV **/

nav{
    width: 100%;
    height: 95em;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    
    

}

.listadetalles{
    width: 45%;
    height: 40%;
    font-weight: bold;      
    font-family: 'Montserrat', sans-serif;
    font-size: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10em;
    margin-left: 500em;


}

.listanav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    }
    
    .navmargen{
        margin-left: 1em ;
        margin-right: 1em;

    }

    .botoncontacto{
               
        background-color: rgb(255, 191, 53);
        border-radius: 30px; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9em;
        height: 2.5em;   
        
    }
    
    .botoncontacto a{
        color: white;
    }
   
    
    .botoncontacto:hover{
        background-color: rgb(5, 200, 235);
    }

        
    
/** SECCIÓN HEADER **/


header{
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;  
    
}      

.presentacion{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding-left: 110em;  
}

.hola{
    font-family: 'Cookie', cursive;
    font-family: 'Lobster', cursive;
    font-size: 30em;
    font-weight: bolder;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nombre{
    font-family: 'Cookie', cursive;
    font-family: 'Lobster', cursive;
    font-size: 75em;
    font-weight: bolder;
    color: rgb(5, 200, 235);
    padding: 0;
    margin: 0;
}

.frase{
    font-family: 'Montserrat', sans-serif;
    font-size:20em;
    margin-bottom:2em ;
    
    
}

.botonhago{
    background-color: rgb(255, 191, 53); 
    border-radius: 50px;
    border-color: transparent;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20em;
    font-weight: bold;

}

.botonhago a{
    color:white;
}

.imagen{
    width: 500px;
    height: 500px;
    margin-left: 40em;
    
}

.botonhago:hover{
    background-color: rgb(5, 200, 235);
}
   
    






/** SECCIÓN MAIN**/

main{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cajitas{

    width: 100%;
    height: 100%;
}



/** SECCIÓN DEL FOOTER **/

footer{
 height: 32%;
 width: 100%;
 background-color:rgb(5, 200, 235);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

/** LINKS NAV/FOOTER **/



.listafooter{
    width: 25%;
    padding-top: 40em;
    padding-bottom: 10em;
    font-weight: bold;
    display: flex;
    justify-content:space-evenly;
    font-family: 'Montserrat', sans-serif;
}


.listafooter a{
    color:white;
    font-size: 15em;
}

/** BOTONES DEL FOOTER **/




.botonescirculos{
    padding-top: 20em;
    padding-bottom: 15em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

i{
    font-size: 23em;
    color: rgb(255, 191, 53);
}

.espacio{
    margin-top: 18em;
    margin-right: 18em;
}

.circulo{
border-radius: 30em;
margin: 12em;
padding: 12em;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
border: 1em solid white;

   
}



    /** frase final **/


.frasefinal{

    font-family:'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 18em;
    color: white;


}

/** hovers del footer **/

.circulo:hover{
    background-color:rgb(255, 191, 53);
        
}

i:hover{
    color: white;
}

/** queries del footer **/ 

@media screen and (max-width: 1024px) {

    footer{
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .listafooter{
        display: none;
    }



}