html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    

}

/** SECCIÓN BODY **/

body{
   
    font-size: 1px;

}




/** GENÉRICOS **/

a{
    text-decoration: none;
    color: #2C2D30;
    
}

.contenedorheader{
    width: 100%;
    height: 1000em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5EAF5;
    

}


.contenedor2{
    width: 100%;
    height: 1000em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #daccf3;
    
}

.contenedor3{
    width: 100%;
    height: 1500em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    background-color: #E5EAF5;
    
}

.contenedor4{
    width: 100%;
    height: 1000em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #daccf3;
    
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
  
   
}

button{    
        border-style: none;   
        
        
}





/** SECCIÓN NAV **/

nav{
    width: 100%;
    height: 95em;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    background-color: #E5EAF5; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    
    

}

.listadetalles{
    width: 45%;
    height: 40%;
    font-weight: bold;      
    font-family: 'Montserrat', sans-serif;
    font-size: 18em;
    color: #2C2D30;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10em;
    margin-left: 500em;


}

.listanav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    }
    
    .navmargen{
        margin-left: 1em ;
        margin-right: 1em;

    }

    .botoncontacto{
               
        background-color: #684695;
        border-radius: 30px; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 9em;
        height: 2.5em;   
        
    }
    
    .botoncontacto a{
        color: white;
    }
   
    
    .botoncontacto:hover{
        background-color: #13052b;
    }

    

        
    
/** SECCIÓN HEADER **/


header{
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;  
    
}      

.presentacion{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    padding-left: 80em;  
}

.hola{
    font-family: 'Cookie', cursive;
    font-family: 'Lobster', cursive;
    font-size: 30em;
    font-weight: bolder;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #2C2D30;
    
}

.nombre{
    font-family: 'Cookie', cursive;
    font-family: 'Lobster', cursive;
    font-size: 75em;
    font-weight: bolder;
    color: #2C2D30;
    padding: 0;
    margin: 0;
}

.descripcion{
    font-family: 'Montserrat', sans-serif;
    font-size:25em;
    font-weight: 300;
    margin-bottom: 2em;
    color: #494D5F;   
    
}

.botonhago{
    background-color: #684695; 
    border-radius: 50px;
    border-color: transparent;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20em;
    font-weight: bold;

}

.botonhago a{
    color:white;
}

.imgheader{
    width: 500px;
    height: 500px;
    margin-left: 40em;
    
}

.botonhago:hover{
    background-color: #13052b;
}
   
    


/** SECCIÓN MAIN**/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** ¡¡¡¡¡ MIS CONOCIMIENTOS !!!!! **/


.textsegment{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;   
    
}

.secciontexto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 0;
}

.estilotitulo{
    text-align: center;
    font-family: 'Cookie', cursive;
    font-family: 'Lobster', cursive;
    font-size: 60em;
    color: #2C2D30;
      

}

.estilotexto{ 
    font-family: 'Montserrat', sans-serif;
    font-size: 20em;
    color: #2C2D30;
    font-weight: 300;
    
}

.skillscards{

    width: 45%;
    height: 52%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100em;

    
}

.card{
    width: 260em;
    height: 245em;
    border-radius: 10px;
    border: 1em solid #c3c3c7;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card .estilotexto{
    font-weight: bolder;
}

.card .fa-html5{
    font-size: 100em;
    color: #E54D26;
}

.card .fa-css3-alt{
    font-size: 100em;
    color: #3D8FC6;
}

.card .fa-sass{
    font-size: 100em;
    color: #CC6699;
}

.card .fa-js{
    font-size: 100em;
    color: rgb(255, 208, 0);

}

.card .fa-react{
    font-size: 100em;
    color: #61DAFB;
}

.card .fa-git-alt{
    font-size: 100em;
    color: #F34F29;
}

.card:hover{
    border: 1em solid #8459bd;

}

.card:hover h2{
    color: #8459bd;
}

.card a:focus{
        border: 1px solid #684695;
        box-shadow: inset 0 0 3px 1px #684695;
        outline: none;
    
}

/** ¡¡¡¡ SECCIÓN CITA !!!! **/

.citatextual{
    width: 100%;
    height: 600em;
    background-color: #684695;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

.citacaja{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.fa-quote-right{
    color:#ffffff;
    font-size: 90em;
    margin-bottom: 1em;

}


.frase{

    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25em;
    text-align: center;
    font-weight: normal;
  
}

.autor{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30em;
    color: #ffffff;
}


/** ¡¡¡¡ MIS PROYECTOS !!!! **/

.projectscard{

    width: 58%;
    height: 75%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;

      
    
}

.projectscard .card{
    width: 350em;
    height: 350em;
    
}

.projectscards .estilotexto{
    font-weight: 500;
}


.imgproject{
    width: 250em;
    height: 250em;
    
}


/** ¡¡¡¡¡ CONTACTO !!!!!! **/

.contact-box{
    height: 70%;
    width: 60%;
    background-color: white;
    border-radius: 10em;
    border: solid rgb(197, 180, 180) 1em; 
    display: flex;
    justify-content: space-evenly;
         
}

.contact-me{
    width: 40%;
    height: 90%; 
    display: flex; 
    flex-direction: column;  
    align-self: center;
    background-color: white; 
    margin: 20em;
            
}

.contact-me .estilotitulo{
    text-align: left;
    margin: 0;
}

.contact-me .estilotexto{
    text-align: left;
    font-weight: 300;
}

.list-contact{
    width: 100%;
    height: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    
    
}

.list-contact a{
    
    display: flex;
    align-items: center; 

}

a i{
    font-size: 20em;
    color: #684695;
    background-color: white;
    border: 10px solid white;
    border-radius: 20em;
    align-items: left;
    margin-right: 10px;
    
    
}

a:hover i{
    background-color: #684695;
    border: 10px solid #684695;
    color: white;
}

a:hover .estilotexto{
    color: #684695;
    font-weight: 400;
}


.formulario{
    width: 40%;
    height: 90%; 
    display: flex; 
    flex-direction: column;  
    align-self: center;
    background-color: white; 
    text-align: left;
    
           
}

.formulario .estilotitulo{
    text-align: left;
    margin: 0;
   
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    
}
label .estilotexto{
    font-size: 17em;
    font-weight: bolder;
}

.name-lastname{
    width: 100%;
    display: flex;
    justify-content: space-between;
       
}

input{
    width: 95%;
    height: 60%;
    border: transparent;
    background-color: #F6F7FB;
    border-radius: 20px;
    font-size: 17em;
    font-weight: 500;
    text-indent: 20px;
    
        
}

.focus-input::placeholder{
    display: flex;

}

.focus-input:focus{
    border: 1px solid #684695;
    box-shadow: inset 0 0 3px 1px #684695;
    outline:none;
}

.focus-input:active{
    border: 1px solid #684695;
    box-shadow: inset 0 0 3px 1px #684695;

}


.email input{
    width: 98%;
    height: 60%;
   
}

.textarea-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    
}

textarea{
    width: 100%;
    height: 10em;
    display: flex;
    font-size: 17px;    
    background-color: #F6F7FB;
    border: 1px solid #F6F7FB;
    border-radius: 10px;
    text-indent: 20px;
    
}

label button{
    height: 3em;
    width: 9em;
    background-color: #684695;
    color: white;
    font-size: 17em;
    border-radius: 20em;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    margin-top: 2em;
    
}

label:hover button{
    background-color: #2C2D30;
}


a:focus{
    border: 1px solid #684695;
    border-radius: 15px;
    box-shadow: inset 0 0 3px 1px #684695;
    outline: none;
    
}

button:focus{
    border: 1px solid black;
    box-shadow: inset 0 0 3px 1px black;
    outline: none;
    
}








/** SECCIÓN DEL FOOTER **/

footer{
 height: 32%;
 width: 100%;
 background-color: #494D5F;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

/** links nav-footer **/



.listafooter{
    width: 25%;
    padding-top: 40em;
    padding-bottom: 10em;
    font-weight: bold;
    display: flex;
    justify-content:space-evenly;
    font-family: 'Montserrat', sans-serif;
}


.listafooter a{
    color:white;
    font-size: 15em;
}

/** botones footer **/


.botonescirculos{
    padding-top: 20em;
    padding-bottom: 15em;
    display: flex;
    width: 13%;
    flex-direction: row;
    justify-content: space-evenly;

}


.espacio{
    margin-top: 18em;
    margin-right: 18em;
}



.frasefinal{

    font-family:'Montserrat', sans-serif; 
    font-weight: bold;
    font-size: 18em;
    color: white;


}


/** queries del footer **/

@media screen and (max-width: 1310px) and (min-height: 1764px){

    html{
        padding: 0;
        margin: 0;
    }

    nav{
        display: none;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .contenedorheader{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }


    .presentacion{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .listafooter{
        display: none;
    }



}

@media screen and (max-width: 360px) and (min-height: 640px){

  
 

nav{
    display: none;
}

body{
    font-size: 0.5px;
    
}

.contenedorheader{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.presentacion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.hola{
    margin-top: 100px;
    font-size: 50em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.nombre{
    font-size: 150em;
}

.descripcion{
    font-weight: 400;
    font-size: 35em;
}

.botonhago{
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 30em;
}

.imgheader{
    width: 320px;
    height: 320px;
}

/** MISCONOCIMIENTOS **/

.contenedor2{
    width: 100%;
    height: 1000px;
}

.textsegment{
    width: 100%;
    height: 100%;
}

.secciontexto{
    width: 100%;
    font-size: 2em;
    margin-top: 100em;
}

.estilotitulo{
    margin: 0;
    padding: 0;
}


.skillscards{
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    
       
}

.card{
    width: 280em;
    height: 300em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.card .estilotexto{
    font-size: 18px;
    
}

.card .fa-html5{
    font-size: 120em;
}

.card .fa-css3-alt{
    font-size: 120em;
}

.card .fa-sass{
    font-size: 120em;
}

.card .fa-js{
    font-size: 120em;
}

.card .fa-react{
    font-size: 120em;
}

.card .fa-git-alt{
    font-size: 120em;
}

/** CITA **/

.citatextual{
    width: 100%;
    height: 600px;
}

.fa-quote-right{
    font-size: 170em;
}

.frase{
    width: 89%;
    font-size: 50em;
    font-weight: 200;
    
}

.autor{
    font-size: 80em;
    text-align: center;
}

/** MIS PROYECTOS **/


.contenedor3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}


.projectscard{
    width: 100%; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 100em;
    
    
    
}



.projectscard .card{
    width: 90%;
    height: 300px;
}


/** CONTACTO Y FORMULARIO **/




.contenedor4 {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    background-color: #E5EAF5;
}

.contact-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #E5EAF5;
    border: none;
}

.contact-me{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    text-align: left;
    background-color: #E5EAF5;
}

.contact-me .estilotitulo{
    font-size: 60px;

}

.contact-me .estilotexto{
    font-size: 18px;
}



.list-contact{
    width: 100%;
    background-color: #E5EAF5;
    font-weight: 900;
}

.list-contact i{
    font-size: 30px;
}

.formulario{
    background-color: #E5EAF5;
    width: 90%; 
    height: 100%;  

}

form{
    width: 100%;
    height: 750px;
    display: flex;
    align-content: space-around;
}

.name-lastname{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}

.formulario .estilotitulo{
    font-size: 60px;
}

.name-lastname .estilotexto{
    font-size: 18px;
}

input{
    font-size: 18px;
}

.email .estilotexto{
    font-size: 18px;

}


.email input{
    font-size: 18px;
    display: flex;
}

.textarea-button{
    width: 100%;
    display: flex;
    align-content: space-between;
    margin-top: 25px;
    
}

.textarea-button .estilotexto{
    display: flex;
    font-size: 18px;
}

textarea{
    width: 315px;
    height: 200px;
}

.textarea-button button{
    font-size: 18px;
    margin-bottom: 40px;
}

/** FOOTER **/

.listafooter{
    display: none;
}

.circulo i{
    font-size: 25px;
}

.frasefinal{
    font-size: 18px;
    font-weight: 400;
}


}
